body{
    background: #102894;
    margin: 0;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background-color: dimgray;
    margin: 0;
    padding: 0;
    height: 45px;
    width: 100%;
    position: fixed;    
}

.glow {
    font-size: 25px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 12px #fff, 0 0 22px #e68200d8, 0 0 32px #e68200d8, 0 0 42px #e68200d8, 0 0 52px #e68200d8, 0 0 62px #e68200d8;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #fff34d, 0 0 25px #fff34d, 0 0 35px #fff34d, 0 0 45px #fff34d, 0 0 55px #fff34d, 0 0 65px #fff34d;
    }
}


.container{
    text-align: center;
    color: white;
    padding-top: 70px;
    margin: 0px 15px 20px 15px;
    display: grid;
    height: 100%;
    grid-gap: 2.5px 2.5px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(10, 280px) 

}

img {
    height: 190px;
    width: 350;
}

p {
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
    padding-bottom: 20px;
    text-align: center;
}

button{
    margin: 5px;
    font-size: 14;
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: pink;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: yellow;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .container{
        text-align: center;
        padding-top: 70px;
        display: grid;
        height: 100%;
        grid-gap: 2px 2px;
        grid-template-columns: 49% 49%;
        grid-template-rows: repeat(15, 280px) 
    }
    p {
        font-size: 2vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    h2{
        height: 40px;
    }
}

@media screen and (max-width: 600px) {
    .container{
        text-align: center;
        padding-top: 100px;
        display: grid;
        height: 100%;
        grid-gap: 2px 2px;
        grid-template-columns: 99%;
        grid-template-rows: repeat(25, 270px) 
    }

    p {
        font-size: 3.5vw;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        
    }
    h2{
        height: 80px;
    }
}